.dashboard-box {
    background-color: #FFF;
    border: 1px solid #e0e0e0;
    padding: 7px 10px;
    .box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 0px;
    }
    .box-check {
        display: flex;
        align-items: center;
    }
    .box-title {
        font-weight: 600;
        font-size: 1.2rem;
    }
    .remove-notify {
        color: #fff;
        background-color: #e3342f;
        border-radius: 7px;
        padding: 5px 7px;
        cursor: pointer;
    }
    .box-line {
        height: 1px;
        background-color: #e0e0e0;
    }
    .box-content {
        padding: 5px 0px;
        font-size: 0.7rem;
        .box-one-content {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            padding: 4px 0px;
            font-weight: 600;
            height: 30px;
            .complete_task, .start_task, .reminder {
                color: #FFF;
                border-radius: 5px;
                padding: 3px 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 55px;
                font-size: 0.65rem;
                font-weight: 300;
            }
            .complete_task {
                background-color: #55dd59;
            }
            .start_task {
                background-color: #de01ff;
            }
            .reminder {
                background-color: #e87c7a;
            }
            .content-title {
                color: #2196F3;
                display: flex;
                align-items: center;
                padding: 0px 7px;
                width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .action {
                display: flex;
                float: right;
            }
            .content-time {
                color: #9c9292;
                display: flex;
                align-items: center;
                padding: 0px 7px;
                width: 95px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .content-btn {
                border: 1px solid #9c9292;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }
}
