// Here you can add other styles
._loading_overlay_wrapper--active{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10002;
}

.rst__rowContents {
    min-width: 500px;
}
.rst__rowLabel{
    width: 100%;
}
.image-cover{
    border-radius: 100%;
}
.image-cover img{
    border-radius: 100%;
}
.image-cover .hover-content{
    width: 100% !important;
    height: 100% !important;
    border-radius: 100%;
}
.nodeCell {
    padding-left: 10px  !important;
    padding-right: 10px  !important;
}

.react-contextmenu {
    z-index: 20;
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.64);
    .react-confirm-alert-button-group {
        justify-content: flex-end;
        button:first-child {
            background: #3490dc;
        }
    }
}

.start_task {
    color: #0cca26;
}

.complete_task {
    color: #ff0800;
}

.note-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}
.note-parent {
    position: relative;
    padding-left: 15px;
}

.alert {
    word-break: break-all;
}

.project-filter {
    position: absolute;
    right: 300px;
    width: 200px;
    z-index: 10;
}

.preview-avatar {
    width: 200px;
    height: 200px;
}

.img-avatar {
    width: 35px;
    height: 35px;
}

.reminder-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50em;
}

.avatar-content {
    height: 40px !important;
}

.avatar.image {
    width: 28px !important;
    height: 28px !important;
}

.reminder-title {
    cursor: pointer;
}

.avatar_image {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: -10px;
}

.notify-table td {
    padding: 0;
    height: 50px
}

.notify-table td div {
    height: 50px;
    padding: 15px;
}

.notify-table td div.action {
    padding: 10px;
}

.notify-table td div.notify {
    background: #fcd6d6;
}

.box-content .box-one-content.lower-projects .content-title {
    width: 50%;
}

.box-content .box-one-content.lower-projects .content-category {
    width: 30%;
}

.box-content .box-one-content.lower-projects .content-inventory {
    width: 20%;
}

.box-content .box-one-content.lower-projects .header {
    font-size: 13px;
    color: #23282c;
}

.box-content .task-item {
    font-size: 12px;
    padding: 5px 7px;
    font-weight: 600;
}

.tree-outline {
    list-style-type: none;
    padding: 0px;
}
.set_outline {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    img {
        width: 25px;
        height: 25px;
    }
    .tree-item {
        flex: 1;
    }
    li {
        border-bottom: none;
    }
}

.relation_task {
    color: red;
}
